body{
    font-family: Roboto, sans-serif;
}

.navbar {
    background-color: #e15f41;
}

#cabecalho .nav .nav-link.active{
    background-color: #fff;
    color: #e15f41;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-food .nav-link.active:hover  {
    color: #fff;
}
.navbar-toggler{
    background-color: #ffeae6 ;
}

.section-title{
    font-family: Pacifico, cursive;
}
strong{
    font-weight: 500;
    color: #e15f41;
}

#about, #food{
    background-color: #ffeae6;
}

.text-colored{
    color: #e15f41; 
}
.nav-food .nav-link.active,
#contact button {
    background-color: #e15f41;
    color: #fff;
}

.nav-food .nav-link:hover{
    color: #e15f41;
}

.social-links li{
    list-style: none;
    display: inline;
}
.social-links a{
    text-decoration: none;
}
